/* Variáveis do CSS */
@import './variables.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font-family-default;
}

.bodyLight {
    background-color: $Very-Light-Gray;
}

.bodyDark{
   background-color: $Very-Dark-Blue;
}

.darkMode {
    background-color: $Very-Dark-Desaturated-Blue;
    border-color: $Very-Dark-Grayish-Blue !important;
    color: $Dark-Grayish-Blue;
}

.lightMode {
    background-color: #fff;
    border-color: $Very-Light-Grayish-Blue !important;
    color: $Very-Dark-Grayish-Blue;
}

.headerDark{
     background-image: url(./../images/bg-desktop-dark.jpg);
}

.headerLight{
    background-image: url(./../images/bg-desktop-light.jpg);
}

.header {
    height: 280px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.container-todoList {
    width: 500px;
    margin: auto;
    position: relative;
    top: -200px;
}

.container-todoList-title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 50px;

    .todoList-title{
        font-size: 2em;
        color: #fff;
        font-weight: $font-weigth-semi;
        text-transform: uppercase;
        letter-spacing: 15px;
    }
}

.style-default {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.todos div:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

    .container-input-todo{

        margin-bottom: 30px;
        border-radius: 5px;

        .input-todo-circle{
            width: 20px;
            height: 20px;
            border: 1px solid;
            border-radius: 100%;
        }
    
        .input-todo {
            height: 30px;
            flex: 1;
            margin-left: 5px;
            padding-left: 10px;
            border: none;
            outline: none;
            font-size: 20px;
            color: $Dark-Grayish-Blue;
            font-weight: $font-weigth-semi;
    
            &.input-todo::placeholder{ 
                font-weight: $font-weigth-semi;
                font-size: 16px;
                opacity: 0.6;
            }
        }
    }

    .todoItem {

        border-bottom: 1px solid;

        &:hover .btn-excluirTodo{
            opacity: 1;
        }

        &:hover {
            cursor: grab !important;
        }

        .container-checkbox {
            display: block;
            position: relative;

        & input:checked ~ .checkmark {
            background-image: linear-gradient(to right,hsl(192, 100%, 67%),hsl(280, 87%, 65%));

        }

        & input:checked ~ .checkmark::after {
            display: block;
        }
            

            .checkbox{
                width: 0px;
                height: 0px;
                opacity: 0px;
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border: 1px solid;
                border-radius: 100%;
                cursor: pointer;

                &:hover {
                    border-color: $Light-Grayish-Blue;
                }

            }

            .checkmark::after {
                content: '';
                position: absolute;
                display: none;
                left: 6px;
                top: 3px;
                width: 3px;
                height: 7px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        .description-todoItem {
            margin-left: 35px;
            font-weight: $font-weigth-bold;
            opacity: 0.8;
            flex: 1;
            margin-top: 7px;
        }

        .btn-excluirTodo {
            width: 10px;
            height: 10px;
            background-image: url(./../images/icon-cross.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            background-color: transparent;
            border: none;
            opacity: 0;
            transition: opacity 0.3s linear;
        }
    }

    .footer-todoList {

        justify-content: space-between;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
        

        button {
            background-color: transparent;
            border: none;
            color: $Dark-Grayish-Blue;
            opacity: 0.7;
            font-weight: $font-weigth-bold;
            cursor: pointer;

            &:hover {
               color: hsl(220, 98%, 61%);
            }
        }

        span {
            color: $Dark-Grayish-Blue;
            font-weight: $font-weigth-bold;
            font-size: 12px;
            opacity: 0.7;
        }

        .div-btns {

            button {
                margin-right: 10px;
            }
        }
    }

    .footer-app {
        text-align: center;
        color: $Dark-Grayish-Blue;
        font-weight: $font-weigth-bold;
        opacity: 0.8;
    
    }

    .CompletedTodo{
        text-decoration: line-through;
        opacity: 0.4 !important;
    }


@media screen and (max-width: 600px) {
    .headerDark {
        background-image: url(./../images/bg-mobile-dark.jpg);
    }

    .headerLight {
          background-image: url(./../images/bg-mobile-light.jpg);
    }

    .container-todoList {
        width: 90%;
    }

    .footer-todoList {
        position: relative;
    }

    .div-btns {
        position: absolute;
        top: 70px;
        right: 1px;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}

